<section id="hero">
  <h4>Trade-in-Offer</h4>
  <h2>Super Value Deals</h2>
  <h1>On all Products</h1>
  <p>Save more with Coupons & up to 70% off!</p>
  <button>Shop Now</button>
</section>


<section id="features">
  <div class="fe-box">
      <img src="../../../assets/images/images/features/f1.png" alt="">
      <h6>Free Shipping</h6>
  </div>
  <div class="fe-box">
      <img src="../../../assets/images/images/features/f2.png" alt="">
      <h6>Online Order</h6>
  </div>
  <div class="fe-box">
      <img src="../../../assets/images/images/features/f3.png" alt="">
      <h6>Save Money</h6>
  </div>
  <div class="fe-box">
      <img src="../../../assets/images/images/features/f4.png" alt="">
      <h6>Promotions</h6>
  </div>
  <div class="fe-box">
      <img src="../../../assets/images/images/features/f5.png" alt="">
      <h6>Happy Sell</h6>
  </div>
  <div class="fe-box">
      <img src="../../../assets/images/images/features/f6.png" alt="">
      <h6>F24/7 Support</h6>
  </div>
</section>

<section id="product1" class="section-p1">
  <h2>Features Products</h2>
  <p>Summer Collection New Modern Design</p>
  <div class="pro-container">
      <div class="pro">
          <img src="../../../assets/images/images/products/f1.jpg" alt="">
          <div class="description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
              </div>
              <h4>$78</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
      <div class="pro">
          <img src="../../../assets/images/images/products/f2.jpg" alt="">
          <div class="description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
              </div>
              <h4>$78</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
      <div class="pro">
          <img src="../../../assets/images/images/products/f3.jpg" alt="">
          <div class="description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
              </div>
              <h4>$78</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
      <div class="pro">
          <img src="../../../assets/images/images/products/f4.jpg" alt="">
          <div class="description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
              </div>
              <h4>$78</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
      <div class="pro">
          <img src="../../../assets/images/images/products/f5.jpg" alt="">
          <div class="description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
              </div>
              <h4>$78</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
      <div class="pro">
          <img src="../../../assets/images/images/products/f6.jpg" alt="">
          <div class="description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
              </div>
              <h4>$78</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
      <div class="pro">
          <img src="../../../assets/images/images/products//f7.jpg" alt="">
          <div class="description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
              </div>
              <h4>$78</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
      <div class="pro">
          <img src="../../../assets/images/images/products/f8.jpg" alt="">
          <div class="description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
              </div>
              <h4>$78</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>


  </div>
</section>

<section id="banner" class="section-m1">
  <h4>Repair Services</h4>
  <h2>Up to <span>70% Off</span> - All T-Shirt & Accessoris</h2>
  <button class="normal">Explore More</button>
</section>

<section id="product1" class="section-p1">
  <h2>New Arrivals</h2>
  <p>Summer Collection New Modern Design</p>
  <div class="pro-container">
      <div class="pro">
          <img src="../../../assets/images/images/products/n1.jpg" alt="">
          <div class="description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
              </div>
              <h4>$78</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
      <div class="pro">
          <img src="../../../assets/images/images/products/n2.jpg" alt="">
          <div class="description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
              </div>
              <h4>$78</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
      <div class="pro">
          <img src="../../../assets/images/images/products/n3.jpg" alt="">
          <div class="description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
              </div>
              <h4>$78</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
      <div class="pro">
          <img src="../../../assets/images/images/products/n4.jpg" alt="">
          <div class="description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
              </div>
              <h4>$78</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
      <div class="pro">
          <img src="../../../assets/images/images/products/n5.jpg" alt="">
          <div class="description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
              </div>
              <h4>$78</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
      <div class="pro">
          <img src="../../../assets/images/images/products//n6.jpg" alt="">
          <div class="description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
              </div>
              <h4>$78</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
      <div class="pro">
          <img src="../../../assets/images/images/products/n7.jpg" alt="">
          <div class="description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
              </div>
              <h4>$78</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>
      <div class="pro">
          <img src="../../../assets/images/images/products/n8.jpg" alt="">
          <div class="description">
              <span>adidas</span>
              <h5>Cartoon Astronaut T-Shirts</h5>
              <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
              </div>
              <h4>$78</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
      </div>


  </div>
</section>

<section id="sm-banner" class="section-p1">
  <div class="banner-box">
      <h4>Crazy Deals</h4>
      <h2>Buy 1 Get 1 Free</h2>
      <span>The Best Classic Dress is on sale at cara</span>
      <button class="white">Learn More</button>
  </div>
  <div class="banner-box banner-box-2">
      <h4>Spring/Summer</h4>
      <h2>Upcoming Seasnon</h2>
      <span>The Best Classic Dress is on sale at cara</span>
      <button class="white">Collection</button>
  </div>
</section>

<section id="banner-3">
  <div class="banner-box">
      <h2>SEASONAL SALE</h2>
      <h3>Winter Collection -50% OFF</h3>
  </div>
  <div class="banner-box" style="background-image: url(../../../assets/images/images/banner/b19.jpg);">
      <h2>NEW FOOTWEAR COLECTION</h2>
      <h3>Spring / Summer 2022</h3>
  </div>
  <div class="banner-box" style="background-image: url(../../../assets/images/images/banner/b4.jpg);">
      <h2>T-SHIRTS</h2>
      <h3>New Trendy Prints</h3>
  </div>
</section>


<section id="newsletter" class="section-p1 section-m1">
  <div class="newstext">
      <h4>Sign Up for Newsletter</h4>
      <p>Get E-mail updates about out latest shop and <span>special offers.</span></p>
  </div>
  <div class="form">
      <input type="text" placeholder="Your Email Address">
      <button class="normal">Sign Up</button>
  </div>
</section>
