<section id="header">
  <a href="#"><img src="../../../assets/images/images/logo.png" class="logo" alt=""></a>
  <div>
      <ul id="navbar">
          <li><a href="index.html">Home</a></li>
          <li><a href="shop.html">Shop</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a class="active" href="#" id="lg-bag"><i class="fa-solid fa-bag-shopping"></i></a></li>
          <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
      </ul>
  </div>
  <div id="mobile">
      <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
      <i class="fa-solid fa-bars" id="bar"></i>
  </div>
</section>
