<div id="clients" class="the-clients">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-heading">
          <h4>Check What <em>The Clients Say</em> About Our App Dev</h4>
          <img src="assets/images/heading-line-dec.png" alt="" />
          <p class="text-muted">
            Welcome to MySmartPrice, where innovation and customer satisfaction
            drive our mission. We're dedicated to redefining your online
            shopping experience with unique features and unwavering support.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
